
html {
    scroll-behavior: smooth;
}
/* Removes default browser spacing */

body {
    margin: 0;
    background-image: linear-gradient(to bottom, black, #03382A);
    font-family: Arial, sans-serif; 
    color: white;
    text-align: left;
}

p {
    line-height: 1.6;
}

/* NAV BAR */
nav {
    background-color: #03382A;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    top: 0;
    position: sticky;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 10px;

    transition: color 0.3s ease;
}

nav a:hover {
    color: aquamarine;
}

/* HEADER */
h1 {
    color: white;
}

/* HOME */
#home {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ABOUT */
#about {
    text-align: left;

}

section {
    padding-top: 100px;
    padding-bottom: 80px;
    scroll-margin-top: 80px;
    max-width: 1000px;
    margin: 0 auto;
}

